<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/static/style.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <title>Booking</title>
</head>
<body>
    <div class="top" style="text-align: center; width: 80%; margin: auto; margin-top: 10px;"><h1>Appointments</h1></div>


<table class="table" style="border: 2px solid green; width: 80%; margin: auto;">
  <thead>
    <tr>
      <th scope="col">Doctor Name</th>
      <th scope="col">Day of Appointment</th>
      <th scope="col">Slot of Appointment</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">{{doctor_name}}</th>
      <td>{{day}}</td>
      <td>{{slot}}</td>
      <td><form action="/cancel_appointment" method="POST"> <input type="hidden" name="appointment_id" value="{{appointment_id}}"><button type="submit" class="btn btn-danger">Cancel Appointment</button></form></td>
    </tr>

  </tbody>
</table>

</body>
</html>