<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/static/style.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <title>Cencel Appointment</title>
</head>
<body>
    <div class="top" style="text-align: center; width: 80%; margin: auto; margin-top: 10px;">
    <h1>Cancelled Appointment</h1>
    </div>
    <div style="text-align: center; width: 80%; margin: auto; margin-top: 10px; background-color: aqua;" ><h2>Cancelled appointment On {{ appointment[3] }} {{ appointment[4] }} </h2></div>
</body>
</html>