<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/style.css">
  <title>Register</title>


</head>

<body>
  <div class="register">


    <form method="post" action="/register">
      <label for="fullname">Full name:</label> <br> 
      <input class="input" type="text" id="fullname" name="fullname" placeholder="Full name" required> 
      <br>
      <label for="email">Email:</label> <br>
      <input class="input" type="email" id="email" name="email" placeholder="Enter email" required> 
      <br>
      <label for="password">Password:</label> <br>
      <input class="input" type="password" id="password" name="password" placeholder=" Enter password" required> 
      <br>
      <button cl type="submit" class="custom_btn2"> Register</button>
    </form>
  </div>
</body>

</html>